#team {
  height: calc(100vh - 70px);
  background-image: linear-gradient(0deg, #fff 50%, $light-gray 50%);
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  p {
    margin-top: 1.5em;
  }
  a {
    color: rgba(0,0,0,0.4);
    font-weight: bold;
    font-size: 16px;
  }
  .fa-heart {
    color: $red;
  }
  .team-content {
    width: 200px
  }
}

